$font-basic: 'Merriweather', serif;
$font-alt: 'Open Sans', sans-serif;
$decoration: 1rem;

.decoration--padding {
  padding-top: $decoration;
}

body {
  font-family: $font-basic;
  font-size: 15px;
}

.container {
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;

  &__img {
    display: flex;
    background-image: url("../../assets/assets/Home-Hero-Image.jpg");
    justify-content: left;
    width: 40em;
    height: 40rem;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__menu {

    &--row {
      display: flex;
      flex-direction: row;

    }

    &--login {
      display: flex;
      justify-content: flex-end;
      padding-top: 2rem;
      padding-bottom: 1rem;
    }

    &--color {
      text-align: center;
      padding: 0.5rem;
      font-family: $font-alt;

      &:link {
        text-decoration: none;
        color: black;
      }

      &:visited {
        text-decoration: none;
        color: black;
      }

      &:hover {
        text-decoration: none;
        color: black;
        border: .066rem solid black;
      }
    }

    &--link{
      font-size: 1.1rem;
      text-align: center;
      padding: 0.5rem;
      font-family: $font-alt;

      &:hover {
        text-decoration: none;
        color: black;
        border: .066rem solid black;
      }
    }
  }
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 11rem;
  font-size: 1.5rem;
  word-spacing: .3rem;
  line-height: 2.7rem;
  white-space: nowrap;

  em {
    font-size: 1.5rem;
  }

  &__button {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;

    &--left {
      display: flex;
      flex-direction: column;
      text-align: center;
      border: 0.05rem solid black;
      padding: 0.3rem 3rem 0.3rem 3rem;
    }

    &--right {
      display: flex;
      flex-direction: column;
      text-align: center;
      border: 0.05rem solid black;
      padding: 0.31rem 1.7rem 0.31rem 1.7rem;

    }
  }


}

